// Variables
$border-color: #dee2e6;
$shadow-color: rgba(223, 227, 231, 0.8);
$bg-color: #fff;
$md: 768px;

// Fix ugly red outline for input field on FF
input {
    box-shadow: none;
    &:-moz-placeholder {
        box-shadow: none !important;
    }
    &:invalid {
        box-shadow: 0 0 0px lime;
    }    
}

// Add top carrot
.top-triangle {
    position: relative;
    background: $bg-color;
    border: 1px solid $border-color;
    border-radius: 3px;
    -webkit-filter: drop-shadow(0 1px 10px $shadow-color);
    -moz-box-shadow: 0 1px 10px $shadow-color;
    filter: drop-shadow(0 1px 10px $shadow-color);
    top: -20px;
    @media (min-width: $md) {
        top: 0;
    }
    &:after,
    &:before {
        bottom: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    &:after {
        border-color: transparent;
        border-bottom-color: $bg-color;
        border-width: 19px;
        left: 30%;
        margin-left: -19px;
    }
    &:before {
        border-color: transparent;
        border-bottom-color: $border-color;
        border-width: 20px;
        left: 30%;
        margin-left: -20px;
    }
}

// Adjust card styles
.card {
    border-radius: 0;
}

.card-header {
    border-bottom-width: 0;
    background-color: transparent;
}

// push card up closer to search form
#single-result {
    @media (min-width: $md) {
        margin-top: -60px;   
    }
}

// Adjust list styles
.list-group-item {
    border-width: 0;
    padding: .5rem 1.25rem;
}

// add grid
.grid {
    display: grid;
    grid-template-columns: 100%;
    @media (min-width: $md) {
        grid-template-columns: 16.666% 16.666% 16.666% 16.666% 16.666% 16.666%;
        grid-gap: 10px;
    }
}

// style page header
.page-header {
    background-color: $shadow-color;
}
